*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #A4BE7B;
}
main
{
    background-color: transparent;
}

/* มือถือ */
nav{
    display: flex;
    /*justify-content: space-between;*/
    padding: 20px;
    background-color: #A4BE7B;
    font-size: 25px;
}
.container{
    padding: 0;
    margin: 0;
}

.logo img{
    width: 70px;
    height: 70px;
}

.logo a{
    text-decoration: none;
}

.menu{
    display: flex;
    font-size: 18px;
    list-style: none;
    align-items: center;
}
.menu li{
    margin-left: 40px;
}

.menu li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
.topg{
    width: 100%;
    height: 250px;
}

.topg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txth{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-340%);
    font-size: 32px;
    color: #C1DF92;
    font-weight: bold;
}

.fotg{
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    place-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
.fotg img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.fotg p{
    margin: 10px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}
.txtmenu{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center; 
}
footer{
    height: 200px;
    background-color: transparent;
    
}

/*ไอแพด*/
@media (min-width:768px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #A4BE7B;
        font-size: 25px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    
    .logo img{
        width: 100px;
        height: 100px;
    }
    
    .logo a{
        text-decoration: none;
    }
    
    .menu{
        display: flex;
        list-style: none;
        align-items: center;
    }
    .menu li{
        margin-left: 40px;
    }
    
    .menu li a{
        color: black;
        font-size: 26px;
        text-decoration: none;
        font-weight: bold;
    }
    .topg{
        width: 100%;
        height: 500px;
    }
    
    
    .txth{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-300%);
        font-size: 64px;
        color: #C1DF92;
        font-weight: bold;
    }
    
    .fotg{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    .fotg img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
    }
    .fotg p{
        margin: 10px;
        font-size: 18px;
        text-align: center;
        justify-content: center;
    }
    .txtmenu{
        margin: 10px;
        font-size: 32px;
        text-align: center;
        justify-content: center; 
    }
    footer{
        height: 150px;
        background-color: transparent;
        
    }
}
/*จอปกติ*/
@media (min-width:922px){
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #A4BE7B;
        font-size: 25px;
    }
    .container{
        padding: 0;
        margin: 0;
    }
    
    .logo img{
        width: 100px;
        height: 100px;
    }
    
    .logo a{
        text-decoration: none;
    }
    
    .menu{
        display: flex;
        list-style: none;
        align-items: center;
    }
    .menu li{
        margin-left: 40px;
    }
    
    .menu li a{
        color: black;
        font-size: 32px;
        text-decoration: none;
        font-weight: bold;
    }
    .topg{
        width: 100%;
        height: 500px;
    }
    
    
    .txth{
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-180%);
        font-size: 64px;
        color: #C1DF92;
        font-weight: bold;
    }
    
    .fotg{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        place-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    .fotg img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
    }
    .fotg p{
        margin: 10px;
        font-size: 25px;
        text-align: center;
        justify-content: center;
    }
    .txtmenu{
        margin: 10px;
        font-size: 32px;
        text-align: center;
        justify-content: center; 
    }
    footer{
        height: 200px;
        background-color: transparent;
        
    }
}