*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main
{
    background-color: #A4BE7B;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #A4BE7B;
    font-size: 25px;
}